@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.navbar{
z-index: 1100;
}

.low{
  z-index: 900;
}
/* .input-with-prefix::before {
  content: "linktr.ee/";
  position: absolute;
  left: 3px; /* Adjust based on input padding */
  /* top: 50%;
  transform: translateY(-50%);
  color:gray;
  font-weight: 500;
} */

/* .input-with-prefix {
  padding-left: 200px; 
} */ 

/* @keyframes scrollWithPause {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scrollWithPause 10s linear infinite;
} */

.large-spacing {
  /* font-size: 24px; */
  letter-spacing: 4px; /* Adds 4px space between each letter */
}

.small-spacing {
  /* font-size: 24px; */
  letter-spacing: 0px; /* Adds 4px space between each letter */
}

.roundedP{
  border-radius: 64;
}
