@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  z-index: 1100;
}

.low {
  z-index: 900;
}
.large-spacing {
  letter-spacing: 4px;
}

.small-spacing {
  letter-spacing: 0px;
}

.roundedP {
  border-radius: 64;
}

.flip-card {
  perspective: 3000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}


.group:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  /* transform-origin:right; */
}

.flippedEngage {
  transform: rotateY(180deg);
}

/* 
@keyframes flipEngage {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
} */

/* .flip-card-inner-auto1 {
  animation: flipCard1 10s infinite linear;
}
.flip-card-inner-auto2 {
  animation: flipCard2 12s infinite linear;
}
.flip-card-inner-auto3 {
  animation: flipCard3 14s infinite linear;
}
.flip-card-inner-auto4 {
  animation: flipCard4 16s infinite linear;
} */

/* @keyframes flipCard1 {
  0%, 30% {
    transform: rotateY(0deg); 
  }
  35%,95%{
    transform: rotateY(180deg);
}
}
@keyframes flipCard2 {
  0%, 30% {
    transform: rotateY(0deg); 
  }
  37.5%,95.83%{
    transform: rotateY(180deg); 
  }
}
@keyframes flipCard3 {
  0%, 35.71% {
    transform: rotateY(0deg); 
  }
  39.28%,96.42%{
    transform: rotateY(180deg);
  }
}
@keyframes flipCard4 {
  0%, 37.5% {
    transform: rotateY(0deg); 
  }
  40.62%,96.87%{
    transform: rotateY(180deg);
  }
} */


.rotate {
  transform: skewY(-10deg); 
  /* perspective: 100px; */
}

.rotate:hover {
  transform: skewY(-10deg) scale(1.2);
  /* z-index:1; */
}

.rotate:hover:nth-child(2)~.rotate:nth-child(1),
.rotate:hover:nth-child(3)~.rotate:nth-child(1),
.rotate:hover:nth-child(3)~.rotate:nth-child(2),
.rotate:hover:nth-child(4)~.rotate:nth-child(1),
.rotate:hover:nth-child(4)~.rotate:nth-child(2),
.rotate:hover:nth-child(4)~.rotate:nth-child(3),
.rotate:hover:nth-child(5)~.rotate:nth-child(1),
.rotate:hover:nth-child(5)~.rotate:nth-child(2),
.rotate:hover:nth-child(5)~.rotate:nth-child(3),
.rotate:hover:nth-child(5)~.rotate:nth-child(4) {
  transform: translateX(-15px) skewY(-10deg);
  transition: transform 0.3s ease;
}

.rotate:hover:nth-child(1)~.rotate:nth-child(n+2),
.rotate:hover:nth-child(2)~.rotate:nth-child(n+3),
.rotate:hover:nth-child(3)~.rotate:nth-child(n+4),
.rotate:hover:nth-child(4)~.rotate:nth-child(n+5) {
  transform: translateX(15px) skewY(-10deg);
  transition: transform 0.3s ease;
}

.flip-card2{
  position: relative;
  width: 13vw;
  height: 20vh;
  perspective: 1000px; 
}
.flip-card-inner2{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  transition: transform 0.5s; 
  transform-origin: center;
}
.flip-card-face1{
  transform: rotateY(0deg);
} 
.flip-card-face2{ 
  transform: rotateY(90deg);
}
/* .flip-card-face3{
  transform: rotateY(180deg);
}
.flip-card-face4{
  transform: rotateY(-90deg);
} */
.flip-card-face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* .face1 .flip-card-inner{
  transform: rotateY(0deg);
}
.face2 .flip-card-inner{
  transform: rotateY(180deg);
}  */
/* .face3 .face3 .flip-card-inner{
  transform: rotateY(180deg);
}
.face4 .face4 .flip-card-inner{
  transform: rotateY(-90deg); 
}  */

.group:hover .flip-card-inner2 {
  transform: rotateY(90deg);
}